.git
.github
.idea
.commitmessage

node_modules/
nbproject/
.vs*/
*.code-workspace
Thumbs.db
gulpfile.js

test/
appveyor.yml
appveyor.yaml

eslint.config.mjs
prettier.config.mjs

# npm package files
iobroker.*.tgz
package-lock.json
iob_npm.done
tsconfig.json

# i18n intermediate files
admin/i18n

# maintenance scripts
maintenance/**

# ioBroker dev-server
.dev-server/
